// Mixins Here
@import "flex-mixins.less";

// Links
.links() {
    text-decoration: none;
    color          : @nav-font;
    font-size      : 1.2rem;
    padding        : 0.5rem 2rem;
}

// Sign-up Button
.sign-up(@width: 30%, @padding: 1rem) {
    .links();
    width     : @width;
    border-radius: @rounded;
    text-align: center;
    background: @btn-bg-color;
    padding   : @padding;
    color     : @porcelain;
    font-size: 1.8rem;
    &:hover {
        background: @btn-signup-bg;
        color: @btn-cta-color;
        border: 2px solid @btn-cta-color;
    }
}